apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-config
data:
  log_level: "{{ .Values.config.log_level }}"
  region: "{{ .Values.region }}"
  environment: "{{ .Values.environment }}"
